<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plant_care">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoplant"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoplant"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantCare">
        <activity android:name=".EditPlant"></activity>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <receiver android:name=".ReminderBroadcast"/>

    </application>

</manifest>